@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url('../assets/fonts/Inter_24pt-Regular.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url('../assets/fonts/Inter_18pt-Medium.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 600;
    src: url('../assets/fonts/Inter_24pt-SemiBold.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url('../assets/fonts/Inter_24pt-Bold.ttf');
}