@import "tailwindcss";
@import './styles/fonts.css';

@theme {
  /* Brakpoints */
  --breakpoint-4xs: 400px;
  --breakpoint-3xs: 450px;
  --breakpoint-2xs: 500px;
  --breakpoint-xs: 550px;

  /* Colors */
  --color-black-01: #111418;
  --color-black-02: #1F2937;
  --color-blue-primary: #2b8cee;
  --color-gray-01: #6B7280;

  /* Fonts */
  --font-inter: "Inter";
}

/* .bg-gradient {
  @apply bg-primary min-h-screen flex items-center justify-center text-[#f1f5f9];
} */